/* Todos los elementos que contengan la clase btn */
.btn{
  color: black;
  text-decoration: none;
  border: 1px solid black;
  font-size: 12px;
  padding: .3rem;
  font-family: Arial;
}

/* Todos los elementos que contengan la clase bgRed */
.btn-red{
  background-color: rgba(232, 101, 101, 0.58);
}
