/* Aplica a todos los atributos */
*{
  color: #111;
}

/* Aplica al elemento <body> */
body{
  font-size: 15px;
  line-height: 1.5em;
  margin: 1rem;
}

/* Aplica a todos los elementos <ul> */
ul{
  list-style-type: disc;
}

/* Igual  con <ol> */
ol{
  list-style-type: decimal;
}

/* Aplica a los elementos <ul> y los <ol> */
ul,
ol{padding-left: 20px;}

/* Aplica al elemento con id="menu" */
#menu{
  text-transform: uppercase;
}

/* Aplica a todos los elementos con class="bold" */
.bold{
  font-weight: bold;
}
.primary{
  color: blue;
}

/* Que tenga las dos clases */
.bold.primary{
  color: green;
}

/* Aplica a los elementos <h1> que además tienen class="bold" */
h1.bold{
  font-weight: 400;
  font-size: 2rem;
  margin: 1rem 0 .5rem;
}

/* Aplica a los elementos <a> descendientes de #menu */    
#menu a{
  text-decoration: none;
}

/* Aplica a los elementos strong que son descendientes directos de elementos <li> */    
li > strong{
  font-weight: bold;
}

/* Aplica a los elemento <a> con el atributo target="_blank" */
a[target="_blank"]{
  color: red;
}

/* Aplica a los elementos <a> cuando el estado es :hover (ratón encima) */
a:hover{
  color: green;
}

/* Aplica a los h2 adyacentes a h1 */
h1 + p{
  margin-top: 0;
}

/* A los elementos <a> con el atributo target="_blank" añadirle después el texto (externo) */
a[target="_blank"]:after{
  content: " (externo)";
}